/* import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300;400;500;600;700&display=swap');

/* Stock Section */
main {
    width: 300px;
    margin-left: 5px;
    background-color: #d4e9e2;
}

#stockContainer {
    width: 300px;
    position: relative;
    height: auto;
    background-color: #d4e9e2;
    text-align: center;
}

#stockContainer h2 {
    border: 1px dotted #000;
    background-color: #008248;
}

.products {
    font-size: small;
    font-family: 'Roboto', sans-serif;
    gap: 2px;
    margin: 5px;
    padding: 2px;
    height: 40px;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.7s;
    position: relative;
}

.products .bx-money-withdraw {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    right: 25px;
    padding: 5px;
    color: green;
}

.products .bx-trash {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    right: 5px;
    padding: 5px;
    color: red;
}

.products:hover > i {
    opacity: 1;
}